// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    height: 100vh;
    background-color: #454545; //黒
    color: #c4c4c4; //グレー
}

#app {
    height: 100vh;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #454545 inset;
}

.text-input {
    border: none;
    border-bottom: 1px #c4c4c4 solid !important;
    background-color: #454545;
    outline: none;
    caret-color: #c4c4c4;
    color: #c4c4c4;
    width: 75%;
}

.recipe {
    // width: 30%;
    height: 120px;
    // flex: 1 1 120px;
    // object-fit: cover;
    width: 120px;
    margin-right: 15px;
}

.recipe_image__top {
    height: 100%;
    width: 120px;
    background-color: #c4c4c4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.recipe-image__recipe-list {
    background-color: #c4c4c4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 120px;
}

// ナビメニュー
.nav-fix-bottom {
    border: 1px solid #545050;
    height: 65px;
}

.nav-fix-bottom-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c4c4c4;
    margin: 0 auto;
}

.nav-fix-bottom-container a {
    color: #c4c4c4;
}

.nav-fix-bottom-menu-name {
    font-size: 0.1rem;
}

// トップ
.recipe_container-top {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.upper_content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top-container-recipe-content {
    display: flex;
    height: 140px;
    overflow-x: scroll;
    // flex-wrap: wrap;
}

.navbar-dark {
    // width: 90%;
    // margin: 0 auto;
    max-width: 700px;
}

@media (max-width: 576px) {
    .nav-fix-bottom {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: #454545;
    }

    .navbar-top,
    .navbar-top-hamburger {
        display: none;
    }
}

// スマホ横
@media (min-width: 576px) {
    .nav-fix-bottom,
    .navbar-top {
        display: none;
    }

    .navbar-top-hamburger {
        display: block;
        max-width: 700px;
        margin: 0 auto;
    }

    .recipe_container-top {
        max-width: 700px;
    }
}

// タブレット
@media (min-width: 768px) {
    .recipe_container-top {
    }

    .nav-fix-bottom,
    .navbar-top {
        display: none;
    }

    .navbar-top-hamburger {
        display: block;
    }
}

// ノートPC
@media (min-width: 992px) {
    .recipe_container-top {
    }

    .recipe_wrapper-top {
        display: flex;
    }

    .navbar-top-hamburger {
        display: none;
    }

    .navbar-top {
        width: 100%;
        display: flex;
        // max-width: 700px;
        // margin: 0 auto;
        height: 53px;
    }

    .navbar-dark {
        width: 100%;
        max-width: none;
    }

    .recipe_container-top {
        max-width: none;
        width: 100%;
    }
}

// デスクトップPC
@media (min-width: 1200px) {
    .recipe_container-top {
        margin: 0;
    }
}

.section-recipe_create,
.section-recipe_edit,
.section-recipe_search {
    width: 90%;
    margin: 0 auto;
}

.wrapper-recipe_create,
.wrapper-recipe_edit,
.wrapper-recipe_search {
    max-width: 400px;
    margin: 0 auto;
}

.area-ingredient,
.area-recipe_procedure {
    background-color: #c4c4c4;
    color: #454545;
    padding: 10px;
    border-radius: 5px;
}
