// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", sans-serif !important;
    height: 100vh;
    background-color: #454545; //黒
    color: #c4c4c4; //グレー
}

#app {
    height: 100vh;
}

a {
    color: #7ea5d8;
}

ul,
ol {
    padding: 0;
}

.color-link_menu {
    color: #7ea5d8;
}

li {
    list-style: none;
}

.breadcrumb {
    background-color: #454545;
    padding: 0;
}

.form-control {
    border-left: none !important;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #454545 inset;
}

.cursor-pointer {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.btn {
    border-radius: 0.2rem;
}

.w-10 {
    width: 10% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-40 {
    width: 40% !important;
}
.w-45 {
    width: 45% !important;
}
.w-60 {
    width: 60% !important;
}
.w-70 {
    width: 70% !important;
}
.w-80 {
    width: 80% !important;
}
.w-90 {
    width: 90% !important;
}

.container-login {
    max-width: 400px;
    margin: 0 auto;
}

.text-input-black {
    border: none;
    border-bottom: 1px #c4c4c4 solid !important;
    background-color: #454545;
    outline: none;
    caret-color: #c4c4c4;
    color: #c4c4c4;
}

.text-input-white {
    border: none;
    border-bottom: 1px #454545 solid !important;
    background-color: #c4c4c4;
    outline: none;
    caret-color: #454545;
    color: #454545;
}

.bg-gray {
    background-color: #c4c4c4 !important;
}

.container-navbar_top {
    flex-basis: 40%;
}
.container-navbar_top li {
    // margin: 0 5px 0px 0;
    width: calc(20%);
    font-size: 0.7rem;
}

.element-recipe-favorite_recipe_list img {
    cursor: pointer;
}

.container-recipe_category_list li,
.container-recipe_category_detail_list li {
    cursor: pointer;
}

// ナビメニュー
.nav-fix-bottom {
    border: 1px solid #545050;
    height: 65px;
}

.nav-fix-bottom-container {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c4c4c4;
    margin: 0 auto;
}

.nav-fix-bottom-container span {
    color: #c4c4c4;
    font-size: 8px;
    -webkit-transform: scale(0.8);
    // -webkit-transform-origin: 0 0;
}

.nav-fix-bottom-container i {
    font-size: 1.9em;
}

.search-window_toppage {
    max-width: 900px;
}

.element-recipe-toppage {
    height: 120px;
    margin: 0 10px 0px 0;
    cursor: pointer;
}

.element-recipe_image-toppage {
    height: 100%;
    width: 120px;
    background-color: #c4c4c4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.element-recipe_image-recipelist {
    cursor: pointer;
}

.user_menu-sm {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-myrecipe-toppage,
.container-new_arrival_recipe-toppage {
    display: flex;
    height: 155px;

    overflow-x: scroll;
}

.container-seasonal_recipe-toppage {
    flex-wrap: wrap;
}
.container-seasonal_recipe-toppage div {
    margin: 0 10px 0px 0;
    flex-basis: calc(50% - 5px);
}

.navbar-dark {
    // width: 90%;
    // margin: 0 auto;
    max-width: 700px;
}

.navbar {
    padding: 0.5rem;
}

// section
.section-toppage,
.section-recipe_create,
.section-recipe_detail,
.section-recipe_edit,
.section-recipelist,
.section-recipe_category_list,
.section-recipe_category_detail_list,
.section-favorite_recipe_list {
    width: 97%;
    margin: 0 auto;
}

// container
.container-header_content-toppage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-favorite_recipe_list {
}

.container-recipe_category_detail_list {
}

.container-recipe_ingredient-recipe_create,
.container-recipe_procedure-recipe_create,
.container-recipe_category-recipe_create,
.container-recipe_ingredient-recipe_edit,
.container-recipe_procedure-recipe_edit,
.container-recipe_category-recipe_edit,
.container-recipe_ingredient-recipe_detail,
.container-recipe_procedure-recipe_detail,
.container-recipe_category-recipe_detail {
    background-color: #c4c4c4;
    color: #454545;
    padding: 10px;
    border-radius: 5px;
}

.element-register_image-register {
    max-width: 400px;
    max-height: 400px;
}

// ↓レスポンシブ

@media (max-width: 576px) {
    .wrapper-mypage {
        height: 25%;
    }

    .element-category_image-recipe_category_list,
    .element-category_image-recipe_category_detail_list {
        width: 50px;
        height: 50px;
    }

    .container-recipe-recipelist {
        width: 97%;
        margin: 0 auto;
    }

    .element-recipe_image-recipelist {
        background-color: #c4c4c4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        height: 120px;
    }
    .breadcrumb-component {
        display: none;
    }

    .container-seasonal_recipe-toppage div:nth-child(2n) {
        margin-right: 0;
    }

    .nav-fix-bottom {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: #454545;
    }

    .navbar-top,
    .navbar-top-hamburger {
        display: none;
    }
}

// スマホ横
@media (min-width: 576px) {
    .font_size-sm {
        font-size: 1.1rem;
    }

    .user_menu-sm {
        display: block;
        width: 30%;
    }

    .container-header_content-toppage-sm {
        display: flex;
        justify-content: space-between;
        text-align: right;
        align-items: center;
    }

    .wrapper-mypage {
        height: 40%;
    }

    .element-category_image-recipe_category_list,
    .element-category_image-recipe_category_detail_list {
        width: 100px;
        height: 100px;
    }

    .element-recipe-favorite_recipe_list {
        margin: 0 10px 0px 0;
        flex-basis: calc(50% - 5px);
    }

    .element-recipe-favorite_recipe_list:nth-child(2n) {
        margin-right: 0;
    }

    .element-recipe_image-recipelist {
        height: 180px;
    }

    .wrapper-mypage {
        max-width: 700px;
        margin: 0 auto;
    }

    .container-seasonal_recipe-toppage div:nth-child(2n) {
        margin-right: 0;
    }

    .container-myrecipe-toppage,
    .container-new_arrival_recipe-toppage {
        height: 190px;
    }

    .element-recipe-toppage {
        width: 180px;
        height: 150px;
    }

    .element-recipe_image-toppage {
        width: 180px;
    }

    .container-header_content-toppage {
        display: none;
    }

    .nav-fix-bottom,
    .navbar-top {
        display: none;
    }

    .navbar-top-hamburger {
        display: block;
        max-width: 700px;
        margin: 0 auto;
    }

    .navbar-dark {
        max-width: 545px !important;
        margin: 0 auto;
        padding: 0 14px;
    }

    .navbar-top-hamburger .collapse {
        max-width: 545px !important;
        margin: 0 auto;
        padding: 0 14px;
        margin-top: 10px;
    }
}

// タブレット
@media (min-width: 768px) {
    .w-md-65 {
        width: 65%;
    }
    .w-md-30 {
        width: 30%;
    }

    .font_size-md {
        font-size: 1.2rem;
    }

    .container-recipe_name-recipe_edit {
        flex-basis: 50%;
    }

    .wrapper-mypage {
        height: 40%;
    }

    .navbar-top-hamburger .collapse {
        max-width: 700px !important;
        margin: 0 auto;
        padding: 0;
        margin-top: 10px;
    }

    .element-category_image-recipe_category_list,
    .element-category_image-recipe_category_detail_list {
        width: 150px;
        height: 150px;
    }

    .container-recipe_name-recipe_create {
        // min-height: 70px;
        flex-basis: 30%;
    }

    .container-recipe_category-recipe_create {
        // min-height: 70px;
        flex-basis: 70%;
    }

    .breadcrumb-component {
        display: block;
    }

    .navbar-dark {
        max-width: 720px !important;
        // margin: 0 auto;
        padding: 0px;
    }

    .nav-fix-bottom,
    .navbar-top {
        display: none;
    }

    .navbar-top-hamburger {
        display: block;
        max-width: 710px;
    }
}

// ノートPC
@media (min-width: 992px) {
    .element-recipe-favorite_recipe_list {
        margin: 0 10px 0px 0;
        flex-basis: calc(33.3% - 10px);
    }

    .element-recipe-favorite_recipe_list:nth-child(3n) {
        margin-right: 0;
    }

    .element-recipe-favorite_recipe_list:nth-child(2n) {
        margin-right: 10px;
    }

    .element-recipe_image-recipelist {
        height: 240px;
    }

    .container-recipe_name-recipe_create {
        margin-bottom: 2rem !important;
    }

    .container-seasonal_recipe-toppage div {
        margin: 0 15px 0px 0;
        flex-basis: calc(33.3333% - 10px);
    }

    .container-seasonal_recipe-toppage div:nth-child(2n) {
        margin-right: 15px;
    }
    .container-seasonal_recipe-toppage div:nth-child(3n) {
        margin-right: 0;
    }

    .navbar-dark {
        max-width: 970px !important;
        padding: 0 25px;
        // max-width: 1140px;
    }

    .wrapper-recipe_create img {
        max-width: 400px;
    }

    .navbar-top-hamburger {
        display: none;
    }

    .navbar-top {
        width: 100%;
        display: flex;
        // max-width: 700px;
        // margin: 0 auto;
        height: 53px;
    }

    .navbar-dark {
        width: 100%;
        max-width: none;
    }
}

// デスクトップPC
@media (min-width: 1200px) {
    .navbar-dark {
        max-width: 1160px !important;
        padding: 0 30px;
    }
}
