// Variables
@import "variables";

// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@import "vue-croppa/dist/vue-croppa.css";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

body {
    font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", sans-serif !important;
    height: 100vh;
    background-color: #454545; //黒
    color: #c4c4c4; //グレー
}

#app {
    height: 100vh;
}

a {
    color: #7ea5d8;
}

ul,
ol {
    padding: 0;
}

li {
    list-style: none;
}

.toast {
    max-width: none;
    flex-basis: 100%;
    color: #454545;
}

.card {
    border-radius: 0.2rem !important;
    background-color: #454545;
}

.card-body {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.card-header {
    background-color: #c4c4c4;
}

.card-header .btn {
    padding: 0;
}
.collapse {
    background-color: #454545;
}

.form-control {
    border-left: none !important;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #454545 inset;
}

::-webkit-scrollbar {
    width: 0px;
}

input,
select,
textarea {
    font-size: 16px !important;
}

.btn {
    border-radius: 0.2rem;
}

// ↓独自クラス
.color-link_menu {
    color: #7ea5d8;
}

.cursor-pointer {
    cursor: pointer;
}

.text-input-black,
.text-input-white {
    border: none;
    outline: none;
}

.text-input-black {
    border-bottom: 1px #c4c4c4 solid !important;
    background-color: #454545;
    caret-color: #c4c4c4;
    color: #c4c4c4;
}

.text-input-white {
    border-bottom: 1px #454545 solid !important;
    background-color: #c4c4c4;
    caret-color: #454545;
    color: #454545;
}

.bg-gray {
    background-color: #c4c4c4 !important;
}

// ナビメニュー
.nav-fix-bottom {
    border: 1px solid #545050;
    height: 65px;
}

.nav-fix-bottom-container {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c4c4c4;
    margin: 0 auto;
}

.nav-fix-bottom-container span {
    color: #c4c4c4;
    font-size: 8px;
    -webkit-transform: scale(0.8);
}

.nav-fix-bottom-container i {
    font-size: 1.9em;
}

.navbar-dark {
    max-width: 700px;
}

.navbar {
    padding: 0.5rem;
}

.search-window_toppage {
    max-width: 900px;
}

.user_menu-sm {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.user_menu-sm img {
    border-radius: 5px;
    max-width: 130px;
}

// section
.section-toppage,
.section-recipe_create,
.section-recipe_detail,
.section-recipe_edit,
.section-recipelist,
.section-recipe_category_list,
.section-recipe_category_detail_list,
.section-favorite_recipe_list,
.section-ingredient_list,
.section-recipe_bot {
    width: 97%;
    margin: 0 auto;
}

// container
.container-recipe_ingredient-recipe_create,
.container-recipe_procedure-recipe_create,
.container-recipe_category-recipe_create,
.container-recipe_ingredient-recipe_edit,
.container-recipe_procedure-recipe_edit,
.container-recipe_category-recipe_edit,
.container-recipe_ingredient-recipe_detail,
.container-recipe_procedure-recipe_detail,
.container-recipe_category-recipe_detail,
.container-ingredient_list {
    background-color: #c4c4c4;
    color: #454545;
    padding: 10px;
    border-radius: 5px;
}

.container-login,
.container-forgot,
.container-reset,
.container-notfound {
    max-width: 400px;
    margin: 0 auto;
}

.container-register {
    max-width: 300px;
    margin: 0 auto;
}

.container-navbar_top {
    flex-basis: 40%;
}
.container-navbar_top li {
    width: calc(20%);
    font-size: 0.7rem;
}

.container-recipe_category_list li,
.container-recipe_category_detail_list li {
    cursor: pointer;
}

.container-myrecipe-toppage,
.container-new_arrival_recipe-toppage {
    display: flex;
    height: 155px;
    overflow-x: scroll;
}

.container-seasonal_recipe-toppage {
    flex-wrap: wrap;
}

.container-header_content-toppage img {
    border-radius: 5px;
}

.container-favorite_recipe_list {
}

.container-recipe_category_detail_list {
}

.container-header_content-toppage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

// element
.element-recipe-favorite_recipe_list img {
    cursor: pointer;
}

.element-recipe-toppage {
    height: 120px;
    margin: 0 10px 0px 0;
    cursor: pointer;
}

.element-recipe_image-toppage {
    height: 100%;
    width: 120px;
    background-color: #c4c4c4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.element-seasonal_recipe_image-toppage {
    width: calc(50% - 10px);
    margin: 0 10px 10px 0;
}

.element-recipe_image-recipelist {
    cursor: pointer;
}

.element-login_image-login,
.element-notfound_image-notfound {
    max-width: 400px;
    max-height: 400px;
}

.element-register_image-register {
    max-width: 600px;
}

.element-chat_answer {
    display: flex;
    flex-flow: column;
}

.element-chat_answer button {
    margin-top: 10px;
    background-color: #c4c4c4;
}

.element-chat_bubble {
    background: rgb(228, 200, 173);
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem;
    max-width: 80%;
    width: auto;
}

.element-chat_row {
    display: flex;
    opacity: 0;
    animation-name: fadein-right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.element-chat_reverse {
    display: flex;
    flex-direction: row-reverse;
    opacity: 0;
    animation-name: fadein-left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadein-right {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadein-left {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.chat-box {
    background: #454545;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.w-10 {
    width: 10% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-35 {
    width: 35% !important;
}
.w-40 {
    width: 40% !important;
}
.w-45 {
    width: 45% !important;
}
.w-60 {
    width: 60% !important;
}
.w-65 {
    width: 65% !important;
}
.w-70 {
    width: 70% !important;
}
.w-80 {
    width: 80% !important;
}
.w-90 {
    width: 90% !important;
}

.fadein-bottom {
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.module_spacer-xs {
    height: 20px;
}
.module_spacer-sm {
    height: 40px;
}
.module_spacer-md {
    height: 60px;
}
.module_spacer-lg {
    height: 80px;
}
.module_spacer-xl {
    height: 100px;
}

// ↓レスポンシブ
@media (max-width: 576px) {
    .nav-fix-bottom {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: #454545;
    }

    .navbar-top,
    .navbar-top-hamburger {
        display: none;
    }

    .wrapper-mypage {
        height: 25%;
    }

    .container-recipe-recipelist {
        width: 97%;
        margin: 0 auto;
    }

    .container-seasonal_recipe-toppage div:nth-child(2n) {
        margin-right: 0;
    }

    .container-seasonal_recipe-toppage div {
        margin: 0 10px 0px 0;
        flex-basis: calc(50% - 5px);
    }

    .element-chat_reverse img {
        border-radius: 20px;
        width: 10%;
    }

    .element-seasonal_recipe_image-toppage img {
        border-radius: 5px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        height: 70%;
    }

    .element-category_image-recipe_category_list,
    .element-category_image-recipe_category_detail_list {
        width: 50px;
        height: 50px;
    }

    .element-recipe_image-recipelist {
        background-color: #c4c4c4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 120px;
    }

    .font_size-resize {
        font-size: 0.5rem;
    }
}

// スマホ横
@media (min-width: 576px) {
    .nav-fix-bottom,
    .navbar-top {
        display: none;
    }

    .navbar-top-hamburger {
        display: block;
        max-width: 700px;
        margin: 0 auto;
    }

    .navbar-dark {
        max-width: 545px !important;
        margin: 0 auto;
        padding: 0 14px;
    }

    .navbar-top-hamburger .collapse {
        max-width: 545px !important;
        margin: 0 auto;
        padding: 0 14px;
        margin-top: 10px;
    }

    .wrapper-mypage {
        height: 40%;
    }

    .wrapper-mypage {
        max-width: 700px;
        margin: 0 auto;
    }

    .wrapper-recipe_bot {
        max-width: 700px;
        margin: 0 auto;
    }

    .container-myrecipe-toppage,
    .container-new_arrival_recipe-toppage {
        height: 200px;
    }

    .container-header_content-toppage {
        display: none;
    }

    .container-seasonal_recipe-toppage div {
        margin: 0 30px 0px 0;
        flex-basis: calc(50% - 15px);
    }

    .container-header_content-toppage-sm {
        display: flex;
        justify-content: space-between;
        text-align: right;
        align-items: center;
    }

    .container-seasonal_recipe-toppage div:nth-child(2n) {
        margin-right: 0;
    }

    .element-chat_reverse img {
        border-radius: 20px;
        width: 10%;
    }

    .element-recipe-favorite_recipe_list img {
        height: 80%;
    }

    .element-seasonal_recipe_image-toppage img {
        height: 85%;
    }

    .element-recipe_image-recipelist {
        width: 180px;
    }

    .element-category_image-recipe_category_list,
    .element-category_image-recipe_category_detail_list {
        width: 100px;
        height: 100px;
    }

    .element-recipe-favorite_recipe_list {
        margin: 0 10px 0px 0;
        flex-basis: calc(50% - 5px);
    }

    .element-recipe-favorite_recipe_list:nth-child(2n) {
        margin-right: 0;
    }

    .element-recipe_image-recipelist {
        width: 180px;
    }

    .element-recipe-toppage {
        width: 180px;
        height: 150px;
    }

    .element-recipe_image-toppage {
        width: 180px;
    }

    .font_size-resize {
        font-size: 0.6rem;
    }

    .user_menu-sm {
        display: block;
        width: 30%;
    }
}

// タブレット
@media (min-width: 768px) {
    .navbar-top-hamburger .collapse {
        max-width: 700px !important;
        margin: 0 auto;
        padding: 0;
        margin-top: 10px;
    }

    .navbar-dark {
        max-width: 720px !important;
        padding: 0px;
    }

    .nav-fix-bottom,
    .navbar-top {
        display: none;
    }

    .navbar-top-hamburger {
        display: block;
        max-width: 710px;
    }

    .wrapper-mypage {
        height: 40%;
    }

    .container-recipe_name-recipe_edit {
        flex-basis: 50%;
    }

    .container-recipe_name-recipe_create {
        flex-basis: 30%;
    }

    .container-recipe_category-recipe_create {
        flex-basis: 70%;
    }

    .container-recipe_procedure-recipe_create,
    .container-recipe_procedure-recipe_edit {
        min-height: 400px;
    }

    .element-chat_reverse img {
        border-radius: 25px;
        width: 10%;
    }

    .element-recipe-favorite_recipe_list img {
        height: 90%;
    }

    .element-seasonal_recipe_image-toppage img {
        height: 85%;
    }

    .element-recipe_image-recipelist {
        width: 240px;
    }

    .element-category_image-recipe_category_list,
    .element-category_image-recipe_category_detail_list {
        width: 150px;
        height: 150px;
    }

    .h-md-100 {
        height: 100% !important;
    }

    .w-md-65 {
        width: 65% !important;
    }
    .w-md-30 {
        width: 30% !important;
    }

    .font_size-resize {
        font-size: 0.7rem;
    }
}

// ノートPC
@media (min-width: 992px) {
    .navbar-top-hamburger {
        display: none;
    }

    .navbar-top {
        width: 100%;
        display: flex;
        height: 53px;
    }

    .navbar-dark {
        width: 100%;
        max-width: none;
        max-width: 970px !important;
        padding: 0 25px;
    }

    .wrapper-recipe_create img {
        max-width: 400px;
    }

    .container-recipe_name-recipe_create {
        margin-bottom: 2rem !important;
    }

    .container-seasonal_recipe-toppage div {
        margin: 0 15px 0px 0;
        flex-basis: calc(33.3333% - 10px);
    }

    .container-seasonal_recipe-toppage div:nth-child(2n) {
        margin-right: 15px;
    }
    .container-seasonal_recipe-toppage div:nth-child(3n) {
        margin-right: 0;
    }

    .element-recipe-favorite_recipe_list {
        margin: 0 10px 0px 0;
        flex-basis: calc(33.3% - 10px);
    }

    .element-recipe-favorite_recipe_list:nth-child(3n) {
        margin-right: 0;
    }

    .element-recipe-favorite_recipe_list:nth-child(2n) {
        margin-right: 10px;
    }

    .element-recipe_image-recipelist {
        width: 240px;
    }

    .w-lg-49 {
        width: 49% !important;
    }
    .w-lg-70 {
        width: 70% !important;
    }

    .font_size-resize {
        font-size: 0.8rem;
    }
}

// デスクトップPC
@media (min-width: 1200px) {
    .navbar-dark {
        max-width: 1160px !important;
        padding: 0 30px;
    }

    .font_size-resize {
        font-size: 0.9rem;
    }
}
